:root {
  --primary-color: #495D88;
  --secondary-color: #2E749F;
  --tertiary-color: #008CAA;
  --alternate-color: #00A2AB;
}
.text-center {
  text-align: center;


}
.padding{
  padding:30px;
}

.flex {
  display: flex;
  align-items: center;
}

.items-center {
  align-items: center;

}
.rounded{
  border-radius:2px;
}

.justify-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
  
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: bold;
}
.gap{
  gap:1rem;
}
.bg-secondary, .bg-secondary, .bg-tertiary{
  color: #333;
  padding:1rem;
}
.bg-primary{
  background-color: var(--primary-color);
}
.bg-secondary{
  background-color: var(--secondary-color);
}
.bg-tertiary{
  background-color: var(--tertiary-color);
}
.color{
  color:white;
}
header{
  display:flex;
  flex-direction: column;
}
nav ul {
  display:flex;
  flex-direction: row-reverse;
  gap:3rem;
  list-style:none;
  margin-top: auto;
  color:white;
}
.color{
  color:white;
}


a{text-decoration: none; 
}

  










#hero {
  background-image: url(./bgpic.jpg);
  background-size: cover;
  background-position: cover;
  height: 100vh;


}

.button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.row {
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.bg-translucent{
  background-color: rgba(0, 0, 0, 0.5);
  padding:1rem;
  color:white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.inline-block {
  display: inline-block;
}
.text-no-underline {
  text-decoration: none;
}
.text-dark {
  color: #333;
}
.margin{
  margin:0px;
}

@media screen and (min-width: 390px) {
  .flex-sm {
    display: flex;
  }

  .flex-row--sm {
    flex-direction: column;
  }
  .width-sm{
    max-width:auto;
  }
  .img-sm{
    background-size: center;
    background-position: contain;
  }
  #hero {
    background-image: url(./bgpic.jpg);
    background-size: contain;
    background-position: center;
    height: 50vh;
    background-repeat: no-repeat;
    background-color: #2E749F;
     }
}
@media screen and (min-width: 1080px) {

}


