:root {
  --primary-color: #495D88;
  --secondary-color:#2E749F;
  --tertiary-color:#008CAA;
  --alternate-color:#00A2AB;}

  



.flex{
  display:flex
}
  

.items-center{
  align-items:center
}

.gap{
  gap:1rem;
}

.flex-center {
  display:flex;
  align-items:center
}

.bg-primary{
  background-color:var(--primary-color);
}
.bg-secondary{
  background-color: var(--secondary-color);
}
.bg-tertiary{
  background-color: var(--tertiary-color);
}
.bg-alternate{
  background-color: var(--alternate-color);
}
#hero{
  background-image:url(./bgpic.jpg);
  

}
.button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.row{
  flex-direction: row;
}